.card{
  display: flex;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  line-height: 1.5625rem;
  margin: 12px 0;
  text-align: justify;
}

.card:hover{
  cursor: pointer;
  background-color: lightgray;
}

.normalImg{
  width: 200px;
}

.card div:first-child{
  margin-right: 16px;
}

.card h1{
  font-size:1.2rem;
  font-weight: bold;
}

.dateEauthor span:nth-child(1){
  margin-right: 16px;
}

.author{
  color:goldenrod;
  font-weight: bold;
}

.card p{
  margin-top: 16px;
  text-align: justify;
  color:gray;

}


.newPage{
  display: flex;
  flex-direction: row;

}

.newPage div:first-child{
  margin-right: 24px;
}

.newPage p{
  margin-top: 16px;
}

.newPage img{
  max-width: 500px;
}