.header{
  background-color: black;
}

.headerContent{
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgCogumelo{
  width:100px;
}