<html>
    <head>
        <title>Noticias - Tela 1</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <header>
            <a href="#">Logo</a>
            <nav>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Contatos</a></li>
                </ul>
            </nav>
        </header>
        <div class="tela1">
            <h1>Notícias</h1>
            <main>
                <div>
                    <img src="./images/dog2.jpeg" alt="dog1">
                    <p>Notícia 1</p>
                </div>
                <div>
                    <img src="./images/dog3.jpeg" alt="dog1">
                    <p>Notícia 2</p>
                </div>
                <div>
                    <img src="./images/dog4.jpeg" alt="dog1">
                    <p>Notícia 3</p>
                </div>
            </main>
            <div class='inferior'>
            <aside>
                <div>
                    <img src="./images/dog1.jpeg" alt="dog1">
                    <p>Propaganda</p>
                </div>
            </aside>
            <section class='produtos'>
                <div class='col1'>
                <div>
                    <img src="./images/dog1.jpeg" alt="dog1">
                    <p>Bermuda 1</p>
                </div>
                <div>
                    <img src="./images/dog2.jpeg" alt="dog1">
                    <p>Bermuda 2</p>
                </div>
                <div>
                    <img src="./images/dog3.jpeg" alt="dog1">
                    <p>Bermuda 3</p>
                </div>
                </div>
                <div class='col2'>
                <div>
                    <img src="./images/dog4.jpeg" alt="dog1">
                    <p>Bermuda 4</p>
                </div>
                <div>
                    <img src="./images/dog5.jpeg" alt="dog1">
                    <p>Bermuda 5</p>
                </div>
                <div>
                    <img src="./images/dog6.jpeg" alt="dog1">
                    <p>Bermuda 6</p>
                </div>
                </div>
            </section>
            </div>
        </div>
    </body>
</html>