.form{
  padding: 16px;
  background-color: lightgrey;
  max-width: max-content;
  margin: 8px auto;
}

.form .titulo{
  text-align: center;
}

.form form{
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form form div{
  display: flex;
  flex-direction: column;
  margin-bottom:16px;
}

.form form label{
  margin-bottom: 4px;
  margin-left: 2px;
}
.form form input,select{
  border-radius:8px;
  padding:16px;
  border:lightgray solid thin;
  width: 400px;
}

.form .ufEPais{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.form .ufEPais input{
  width: 80px;
  border-radius:8px;
  padding:16px;
  border:lightgray solid thin;
}


.submitCep{
  width: 30px;
  background-color: transparent;
  margin-left: 390px;
  margin-top: -37px;
  margin-bottom: 16px;
  border: none;
  
}

.submitCep:hover{
  cursor: pointer;
  color:blue;
}
