html, body, *, ul, li{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin: 20px 0;;
}

header{
    display: flex;
    background-color: black;
    padding: 20px;
    justify-content: space-between;
}

a{
    color: #FFF;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
nav ul li{
    display: inline;
}

nav li{
    margin-left: 15px;
}

img{
    max-width: 100%;
    display: block;
}

/*--Galeria --*/

.galery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.galery > div{
    flex: 1 1 300px;
    margin: 10px;
}

.galery p{
    text-align: center;
    margin-top:10px;
}